<main>
    <img src="./assets/portadafinal.png" alt="Paisaje">
    
    <div class="logo" >
            <img src="./assets/logopizza.png" s>
    </div>
    
    <section >	
        
        <h1 class="titulo">Bienvenidos a Pizzeria Don Pepé</h1>
        <div class="alineacion" >
        <p>En Pizzeria Don Pepé, amamos que la coman de parados en el mostrador, 
        o en la mesa con amigos. Con la mano o con cubiertos.</p>

        <p> Amamos que entren por el olorcito o porque vinieron después del cine. 
         Que coman la fainá (o fáina, como prefieran) fría o caliente; arriba o abajo de la muzza.
         Que se la lleven para desayunar al día siguiente. Amamos que la pizza sea parte de nuestras vidas. Tanto la amamos, que desde 1942 estamos abiertos desde la mañana hasta la madrugada, porque no hay hora para comer una buena pizza. Una pizza hecha con amor, nuestra pizza.</p>
        </div>
    </section>
     
    <section class="galeria">
    <p > GALERIA: Nuestras Especialidades</p>	    
    <table>
     <tbody>
        <tr> <!-- table row-->
            <td>

                <div class="zoomimg">
                <img src="./assets/1.png">
                
                
                </div>
            </td>
            <td>
                <div class="zoomimg">
                <img src="./assets/2.png">		
                </div>
            </td>
                <td>
                    
                    <div class="zoomimg">							
                    <img src="./assets/3.png">						
                    </div>
                </td>						
                </tr>
                <tr> <!-- table row-->
                <td>
                    <div class="zoomimg">
                    <img src="./assets/4.png">					
                    </div>
                </td>
                <td>
                    <div class="zoomimg">
                    <img src="./assets/5.png">						
                </div>
                <td>
                    <div class="zoomimg">
                    <img src="./assets/6.png">						
                    </div>
                </td>
                    
            </tr>					
            </tbody>
        </table>
    </section>
</main>
<aside>
    <h2 class="tituloaside">Mejores Pizzerías del Mundo 2022</h2>
    <ul>
        <li><a href="#"></a></li>
        <li><a href="https://www.pizzeriaimasanielli.it/">I Masanielli – Francesco Martucci (Italia)</a></li>
        <li><a href="https://unapizza.com/">Una Pizza Napoletana (EEUU) </a></li>
        <li><a href="https://www.peppeparis.fr/">Peppe Pizzeria (Francia)</a></li>		
        
    </ul>
</aside>
