/*FOOTER-ESTILOS NUEVAS AGREGADAS*/
.pie{
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    background-color: #fcbc0c;
}


.pie table{
	background-color: #fcbc0c;
	width: 80%;
	height: 200px;
	margin: auto;
	
}
.pie table tr{
	width: 100%;
	height: 200px;

}
.pie table tr td{
	width: 33.33%;
	position: relative;
	overflow: hidden;	
}

.googlemaps {
	color: white;
	text-align: center;
	font-size: 15px;
}
.contacto{
	text-align: left;
	margin-left: 20px;
	margin-right: 18px;
	font-size: 18px;
	color:white;
	padding-left: 30px;
}
footer{
	background-color: #fcbc0c;
	padding: 0px;
	margin:0px;
	padding-top: 10px;
}

footer p{
	text-align: justify-all;
	font-size: 1em;
}

.logofooter{

	padding-left: 60px;
}
